version: '3'
services:
  #http
  http.local:
    build:
      context: .
      dockerfile: ./http/Dockerfile
    ports:
      - "8080:8080"
    entrypoint: ./http -tls=false
    networks:
      - local
    deploy:
      resources:
        limits:
          cpus: '0.25'
          memory: 256M
  nginx:
    image: nginx:latest
    ports:
      - "10000:10000"
    networks:
      - local
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./ca/localhost.pem:/etc/nginx/localhost.pem
      - ./ca/localhost-key.pem:/etc/nginx/localhost-key.pem
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 256M


  grpc:
    build:
      context: .
      dockerfile: ./grpc/Dockerfile
    ports:
      - "8081:8080"
    networks:
      - local
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 256M
  java:
    build:
      context: .
      dockerfile: ./java/Dockerfile
    ports:
      - "8082:8080"
    networks:
      - local
    deploy:
      resources:
        limits:
          cpus: '4'
          memory: 2048M

networks:
  local:
    driver: bridge
