version: '3'
services:
  #http
  http.local:
    build:
      context: .
      dockerfile: ./http/Dockerfile
    ports:
      - "8080:8080"
    networks:
      - local
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 256M
  grpc:
    build:
      context: .
      dockerfile: ./grpc/Dockerfile
    ports:
      - "8081:8080"
    networks:
      - local
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 256M
  java:
    build:
      context: .
      dockerfile: ./java/Dockerfile
    ports:
      - "8082:8080"
    networks:
      - local
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 2048M

networks:
  local:
    driver: bridge