version: '3'
services:
  #http
  http-local:
    build:
      context: .
      dockerfile: ./http/Dockerfile
    ports:
      - "8080:8080"
    entrypoint: ./http -tls=false
    networks:
      - local
    deploy:
      resources:
        limits:
          cpus: '0.25'
          memory: 256M
  http-nginx:
    image: nginx:1.23-alpine
    ports:
      - "10000:10000"
    networks:
      - local
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./ca/localhost.pem:/etc/nginx/localhost.pem
      - ./ca/localhost-key.pem:/etc/nginx/localhost-key.pem
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 512M

networks:
  local:
    driver: bridge
